* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fefae0;
}
.header {
  padding: 30px 0;
}
.title {
  font-size: 80px;
  text-align: center;
  color: #3d4338;
}

.main {
  display: flex;
  justify-content: center;
}

.side-buttons {
  /* border: 1px solid black; */
  width: 300px;
  height: auto;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  margin: 10px 25px;
  padding: 8px;
  width: 250px;
  height: 41px;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 20px;
  background-color: #b99470;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.size-Value {
  font-size: 20px;
  font-weight: 600;
}
#sizeSlider {
  width: 200px;
  height: auto;
}
#colorPicker {
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.canvas {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  width: 500px;
  height: 500px;
}
/* use this palette:https://colorhunt.co/palette/5f6f52a9b388fefae0b99470 */
